[gerrit]
  basePath = git
  canonicalWebUrl = http://127.0.0.1:8080/
[database]
  type = H2
  database = db/ReviewDB
[auth]
  type = HTTP
  httpHeader = X-User
  gitBasicAuthPolicy = HTTP
  gitBasicAuth = true
[index]
  type = LUCENE
[sshd]
  listenAddress = *:29418
[httpd]
  listenUrl = http://*:8080/
